@config "../../tailwind.config.ts";
@import "tailwindcss";
@plugin "@tailwindcss/typography";

/* 커스텀 스타일 */ 
@import "../styles/components.css";
@import "../styles/utilities.css";
@import "../styles/typography.css";
@import "../styles/code.css";       
@import "../styles/prose.css";

/* 외부 수식 스타일 (KaTeX) */
@import "katex/dist/katex.min.css";

/* 폰트, 배경 설정 */
@theme inline {
  --font-pretendard: 'Pretendard Variable', sans-serif;
  --font-moneygraphy: 'Moneygraphy Rounded', sans-serif;
  --font-dunggeunmo: 'DungGeunMo', sans-serif;

  --background: #ededed;
  --foreground: #0a0a0a;
}

/* 다크 모드 변수 덮어쓰기 */
@theme .dark {
  --background: #0a0a0a;
  --foreground: #ededed;
}

/* 전역 설정 적용 */
body {
  background-color: var(--background);
  color: var(--foreground);
}

html {
  font-family: var(--font-pretendard), system-ui, sans-serif;
}